/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }

.game-col {
  height: 100%;
  background-color: orange;
  border: 1px solid green;
}

.game-col-matched {
  height: 100%;
  background-color: green;
  border: 1px solid black;
}

.game-row {
  height: 20px;
}